*{
  text-decoration: none;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
body {
margin: 0;
background-color: #0E0D24;
font-family: 'Roboto';
font-size: 0.8em;
color: white;
  
}
.home{
  background-image: url('./30\ Real\ Examples\ Of\ Blockchain\ Technology\ In\ Practice\ 1.png');
  background-repeat: no-repeat;
  background-blend-mode:darken;
  background-size: cover;
  width:100vw;
  height:100vh;
}
.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70vw;
  z-index: 1;
  position: absolute;
}
.navbar img{
  top: 0px;
  position: relative;
  left: 0px;
}

.links{
  display: flex;
  justify-content: space-between;
  width: 35%;
  text-transform: capitalize;
  
}
.links a{
  margin: 50px 0;
  text-decoration: none;
  cursor: pointer;
}
.links a:hover {
  border-bottom: 2px solid blue ;
}
.active {
  border-bottom: 2px solid blue ;
}

.development {
  width: 100%;
  margin: 0 3em;
  width: 100%;
  height: 100vh;
  padding: 2.5em;
  transition: all ease-out 1s;
}
.header{
  display: flex;
  height: 80vh;
  padding: 1em;
  align-items: center;
  /* margin: 1em; */
}
.text {
    width: 70%;
}
.development h1{
  font-family: 'Roboto' sans-serif;
  font-style: normal;
  font-weight: 900; 
  font-size: 55px;
  word-spacing: 20px;
  line-height: 70px;

}
.development p {
  opacity: 0.5;
  font-size: 1em;
}
.development button {
  margin: 10px 0;
  width: 150px;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: blue; 
}

.development img {
  position: absolute;
  
}

.Maincontent {
  background-image: url('./30\ Real\ Examples\ Of\ Blockchain\ Technology\ In\ Practice\ 1.png');
  background-repeat: no-repeat;
  background-blend-mode:darken;
  background-size: cover;
  background-position: center;
  width: 100vw;
  padding: 10% 20%;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
  grid-gap: 50px;
  /* background-color: rgb(5, 5, 37); */
}

.Maincontent div {
    margin: 50px 30px;
    width: 400px;
    height: 600px;
    padding: 30px 47.5px;
    text-align: center;
    
}

.Maincontent div h3{
  font-weight: bold;
  font-size: 1.61em;
  margin: 20px;
}
.Maincontent div p {
  font-size: 1em;
  word-spacing: 5px;
  line-height: 30px;

}
.vector {
    margin-right: -67px;
}
.one {
  background-color: rgba(10, 20, 255, 0.4);
  border-bottom: 5px solid rgba(10, 20, 255, 0.9) ;
}

.two {
  background-color: rgba(122, 9, 122, 0.4);
  border-bottom: 5px solid rgba(122, 9, 122, 0.9);
}

.three {
  background-color: rgba(10, 218, 3, 0.295);
  border-bottom: 5px solid rgba(10, 218, 3, 0.85);
}
/* 





.development {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center; 
}



.text {
  width: 70%;
}
 */



.community{
  margin-top: -10px;
  padding: 50px 200px 100px ;
}
.community h4{
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  margin: 20px;
}
.social {
  display: grid;
  width: 60%;
  margin: 20px auto;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  justify-content: space-around;
}
.social div {
  border-radius: 15%;
  border: 1px solid white;
  box-shadow: 1px 1px 2px #ffffff;
  /* display: flex; */
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  background-color: #777;
  padding: 20px;
}
.social img {
  width: 50px;
  height: 50px;
  
}
.community p {
  text-align: center;

}
.social button {
  box-sizing: border-box;
  box-shadow: 1px 1px 2px #ffffff;
  border-radius: 20px;
   margin-top: 10px; 
  width: 70px;
  height:30px;
  color: #fff;
  border: 1px solid #fff;
  background-color: #666;
}

/* Our Roadmap */

.OurRoadmap {
  background-color: #08091A;
  padding: 20px 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.OurRoadmap h3 {
  font-size: 1.5em;
  font-weight: bold;
}
.OurRoadmap img {

  width: 300px;
}
.OurRoadmap p {
  margin: 30px 0;
}
.OurRoadmap button{
  padding: 5px;
  border: none;
  border-radius: 20px;
  background-color: blue;
  color: #fff;
}
.OurRoadmap div{
  width: 50%;
  padding: 20px 0;
}


/* Footer */

.footer { 
  padding: 20px 200px;
  display: flex;
  font-size: 1em;
  text-transform: capitalize;
  flex-direction: column;
  justify-content:space-between ;
  height: 60vh;
  width: 90%;
  margin: 50px auto;
}
.footer img {
  width: 200px;
  margin: 50px 0;
}
.footer h4 {
  font-weight: bold;
}
.footer ul {
  list-style-type: none;
  height: 100px;

}
.footer ul li {
  margin: 5px 0;
}
.footer-text {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}
.footer p {
  text-align: center;
  margin: 40px 0;
}
#hide{
  visibility: hidden;
}

/* about page, roadmap page */
/* .about,.Roadmappage  .development {
  
.Roadmappage .development{
  height: 50vh;
  position: relative;
  z-index: -1;
 }
 .Roadmappage .header {
   z-index: -1;
   position: relative;
 }

.about,.Roadmappage .header img {
  position: relative;
  width: 50px;
}

   */

.about,.Roadmappage .development {
  background-image: url('—Pngtree—light\ effect\ high\ tech\ blue_7487661\ 1\ \(1\).png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  margin: 0;
  height: 100vh;
}
.headimg{
  position: relative;
  right: 40px;
  width: 600px;
}
.about .text p{
  width: 300px;
  font-weight: 100;
  margin-bottom: 0;
}

  /*  
.about,.Roadmappage .development .header img{
  position: relative;
  width: 600px;
}


.about .header p {
  width: 450px;
} */
.Roadmappage img{
  z-index: -1;
}
.Roadmappage .development {
  height: 60vh;
}
.Roadmappage .Mainconten{
  padding: 20px 150px 40px;
  flex-direction: column;
  background-color: #08091A;

}
  .about .Maincontent {
    justify-content: center;
    align-items: center;
    background: none;
    margin-bottom: 20em;
  }
.about .Maincontent div {
  text-align: left;
  height: 90vh;
  margin: 0;
  width: 500px;
  border-bottom: 2px #677 dashed ;
}
.about .Maincontent div h3 {
  padding: 0;
  margin-left: 0 ;
}

.about .footer{
  border-top: 2px #667 dashed; 
}

.Roadmappage .year {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 2em;
  width: 60%;
  font-weight: 600;
  margin: 50px 0;
  color: #677;
}
.activeYear{
  color: #fff;
}
.timeline{
  width: 90%;
  margin: 0 auto;

}
.timeline .yearhead {
  font-size: 40px;
  font-weight: 600;
  width: 600px;
  margin: 20px auto;
  text-align: center;
}
.timeline ul {
  list-style-image: url("./listimg.png");
  padding-left: 15px;
  margin: 50px 0 0 0;
}


@media screen and (max-width:768px) {
.home {
  background-image: url("realestate.png");
  background-position: center;
}
.navbar{
  width: 100%;
}
.navbar img {
  width: 100px;
}  
.links {
  justify-content: space-around;
}
.links a{
  margin-left: 10px;
  font-size: 12px ;
}
.development {
  margin: 0 0;
}
.text {
  width: 90%;
}
.header {
  padding: 0;
}
.development h1 {
  font-size: 20px;
  word-spacing: 10px;
  line-height: 25px;
}
.development p{
  font-size: 12px;
  opacity: 1;
}
.development button{
  font-size: 15px;
  width: 100px;
  border-radius: 10px;
  margin: 15px 0;
  padding: 5px;
  background-color: #117;
}
.development img {
  display: none;
}

.Maincontent{
  background-image: none;
  background-color: #08091A;
  grid-template-columns: auto;
}
.Maincontent div{
 width: 300px;
 gap: 30px;
 margin: 30px auto 0;
 padding: 10px 20px;
 height: auto; 
}
.Maincontent div h3{
  font-size: 1.45em;
  letter-spacing: 1px;
  font-weight: 500;
}
.Maincontent div p,p {
  font-size: 0.9em;
  word-spacing: 2px;
}
.Maincontent div img {
  width: 70px;
  margin-top: 20px;
}
.community{
  padding: 100px 20px;
}
.community h4{
  font-size: 1.25em;
}
.community p{
  text-align: left;
}
.social {
  grid-template-columns: auto auto;
  gap: 30px;
  margin: 30px auto;
  
}
.OurRoadmap {
  flex-direction: column;
  padding: 20px 60px;
}
.OurRoadmap .text{
  margin: 0 40px;
  width: 55%;
} 
.OurRoadmap button{
  font-size: 15px;
  width: 130px;
  border-radius: 10px;
  margin: 15px 0;

  padding: 5px;
  background-color: #117;
}
.footer{
  background-color: #08090A;
  padding: 20px 90px;
  margin: 0 0;
  width: 100%;
  height: auto;

}
.footer-text {
  flex-direction: column;
}
.footer img{
  width: 150px;
  margin-bottom: 10px;
}

.footer ul{
  margin-top: 20px;
}
.footer p{
  margin-bottom: 50px;
  font-size: 13px;
}
.hiddenhead {
  display: inline;

}
/* about */
.headimg{
  display: block;
}

.about,.Roadmappage h1{
  margin: 20px 0;
  font-weight: 700;
  z-index: 1;
  
}
.Roadmappage h1{
  font-size: 30px;
  margin: 20px 100px;
}
.about .Maincontent div {
  width: 300px;
  height: auto;
  border-bottom: none;
}
.about .text p {
  font-size: 14px;
  line-height: 1.5;
}

.Roadmappage .development img{
  display: block;
  z-index: -1;
  position: relative;
  right: 450px;
  top: 90px;
}
.about .development img{
  display: block;
  z-index: -1;
  position: relative;
  right: 450px;
  top: 90px;
}
.timeline .yearhead {
  font-size: 25px;
  font-weight: 600;
  width: 300px;
  margin: 20px auto;
  text-align: center;
}


.about .footer{
  border-top: none; 
} 
.Roadmappage .Mainconten {
  padding: 1px 10px 30px;
}
.Roadmappage .year{
  width: 100%;
  font-weight: 200;
  align-items: center;
  justify-content: space-around;
  font-size: 1.4em;  
}

}